{% block content %}

    <style>
        .password-reset-section {
        max-width: 300px;
        margin: 50px auto;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        }

        .password-reset-section input[type="email"],
        .password-reset-section button {
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        }

        .password-reset-section button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        }


    </style>

    <div class="password-reset-section">
        <h2>Reset Your Password</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
        </form>
    </div>

{% endblock content %}