{% extends 'blog/base.html' %}
{% block content %}

  <style>

    .blog-post{
      background-color: rgba(240, 248, 255, 0.705);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin: 20px auto;
      max-width: 800px;
    }


    .post-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background-color: rgb(240, 245, 245);
      border-bottom: 1px solid #f5f2f2;
    }

    .blog-post:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }


    .user-info {
      display: flex;
      align-items: center;
    }


    .user-image{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-right: 10px;
    }


    .user-name{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      color:black;
      text-transform: capitalize;
    }


    .post-date p{
      font-size: 0.9em;
      color: #666;
      margin: 0;
    }


    .post-content{
      padding: 20px;
    }


    .post-content h2 a{
      font-family: 'Times New Roman', Times, serif;
      margin-top: 0;
      color: #010101;
      text-decoration: none; 
    }

    .post-content h2 a:hover{
      color:rgb(91, 49, 99)
    }

    .post-content p{
      color: #555;
      line-height: 1.6;
    }

    .pagination {
      text-align: center;
      margin-top: 20px;
    }

    .pagination a {
      padding: 8px 16px;
      margin: 4px;
      border-radius: 4px;
      border: 1px solid #2cb9f1;
      color: #16aee1;
      text-decoration: none;
      transition: 0.3s;
    }

    .pagination a:hover, .pagination .btn-info {
      background-color: #15cff5;
      color: white;
      border: none;
    }



  </style>


  {% for post in posts %}

    <div class = "blog-post">

      <div class = "post-header">
        <div class = "user-info">
          <img src = "{{ user.profile.image.url }}" alt = "User Image" class = "user-image">
          <span class = "user-name"><b>{{ post.author }}</b></span>
        </div>
        <div class = "post-date">
          <p>{{ post.date_posted|date:"F d, Y" }}</p>
        </div>
      </div>
      <div class = "post-content">
        <h2><a href = "{% url 'post-detail' post.id %}" >{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
      </div>

    </div>

  {% endfor %}
  <div class="pagination">
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn-info">{{ num }}</a>
        {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
          <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}